* {
  color: #171717;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  scroll-margin: 30px;
  font-size: 16px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #FFFFFF;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

button {
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin-bottom: 100px;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}
.header__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
.header__upLogo {
  width: 146px;
  height: 70px;
}
.header__upInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__upInfo p {
  font-weight: 400;
  font-size: 13px;
}
.header__upInfo a {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
}
.header__upLocat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__upLocat img {
  width: 40px;
  height: 40px;
}
.header__upLocat p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.header__upRightLogo img {
  width: 127px;
  height: 67px;
}
.header__menu {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20.6px);
          backdrop-filter: blur(20.6px);
  background: rgba(255, 255, 255, 0.2);
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  padding: 12px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu ul li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
}
.header__burg {
  display: none;
}

@media screen and (max-width: 1100px) {
  header .container {
    position: relative;
  }
  .header__menu {
    position: absolute;
    top: -600%;
    width: 100%;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu-active {
    top: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 0;
  }
  .header__up {
    position: relative;
  }
  .header__upInfo:nth-child(4) {
    display: none;
  }
  .header__upInfo:nth-child(3) {
    display: none;
  }
  .header__upLocat {
    display: none;
  }
  .header__upRightLogo {
    display: none;
  }
  .header__up-active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burg {
    display: block;
    position: absolute;
    right: -10px;
  }
}
@media screen and (max-width: 650px) {
  .header__up {
    gap: 35px;
  }
  .header__upLogo {
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__upInfo:nth-child(1) {
    font-size: 11px;
  }
  .header__upInfo:nth-child(2) {
    font-size: 14px;
  }
}
footer {
  background-color: #171717;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer__block p {
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 12px;
  padding: 20px 0px;
}
.footer__block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 12px;
  padding: 20px 0px;
}

@media screen and (max-width: 1100px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 35px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__block a {
    padding: 0;
  }
  .footer__block p {
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    padding: 0px 23px;
  }
  section {
    margin-bottom: 50px;
  }
  * {
    scroll-margin: 30px;
  }
}
.about {
  padding-top: 189px;
}
.about__bg {
  position: relative;
  border-radius: 15px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
  padding-top: 55px;
  padding-left: 65px;
  padding-bottom: 69px;
}
.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about__info h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  max-width: 550px;
  width: 100%;
}
.about__info p {
  font-size: 20px;
  font-weight: 500;
  max-width: 461px;
  width: 100%;
  line-height: 24px;
}
.about__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.about__logo:nth-child(1) {
  width: 87px;
}
.about__logo:nth-child(2) {
  width: 76px;
}
.about__rightMan {
  position: absolute;
  bottom: -3px;
  z-index: 2;
  right: 11%;
}
.about__rightGener {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.about__rightFirstTree {
  position: absolute;
  left: -313px;
  z-index: 2;
  bottom: -389px;
  -webkit-transform: rotateX(4deg);
          transform: rotateX(4deg);
}
.about__rightSecondTree {
  position: absolute;
  z-index: 3;
  bottom: -358px;
  right: -348px;
  -webkit-transform: rotateX(4deg);
          transform: rotateX(4deg);
}

@media screen and (max-width: 1100px) {
  .about .container {
    padding: 0;
  }
  .about__left {
    padding-bottom: 40px;
  }
  .about__right {
    position: relative;
  }
  .about__bg {
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__rightMan {
    position: static;
    max-width: 470px;
    width: 470px;
    margin-left: -8%;
  }
  .about__rightMan img {
    margin-bottom: -5px;
  }
  .about__rightGener {
    position: absolute;
    max-width: 339px;
    width: 100%;
    bottm: 0;
    right: -116px;
    z-index: -1;
    top: -25px;
  }
  .about__rightFirstTree {
    z-index: -2;
    left: -313px;
    bottom: -389px;
  }
  .about__rightSecondTree {
    top: 252px;
    right: -387px;
  }
}
@media screen and (max-width: 650px) {
  .about {
    padding-top: 100px;
  }
  .about__left {
    gap: 25px;
    padding-left: 0;
  }
  .about__info {
    gap: 15px;
    padding-left: 25px;
  }
  .about__info h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    max-width: 330px;
  }
  .about__info p {
    font-size: 16px;
    max-width: 331px;
    font-weight: 500;
    line-height: 20px;
  }
  .about__logos {
    padding-left: 25px;
  }
  .about__bg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__rightGener {
    right: -113px;
  }
  .about__rightMan {
    right: 0;
    max-width: 700px;
  }
}
.needs__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  margin-bottom: 25px;
}
.needs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.needs__listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.needs__listItem a {
  max-width: 220px;
  background-color: rgb(83, 83, 83);
  border-radius: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 15px;
  padding-top: 15px;
  padding-left: 34px;
  padding-bottom: 15px;
  padding-right: 33px;
}
.needs__listItem a img {
  width: 30px;
  height: 30px;
}
.needs__listItemWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.needs__listItem:nth-last-child(1) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.needs__itemImg {
  width: 37px;
  height: 37px;
}
.needs__itemInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  max-width: 269px;
  width: 100%;
}
.needs__itemInfo h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.needs__itemInfo p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@media screen and (max-width: 650px) {
  .needs__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  .needs__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .needs__listItem a {
    width: 90%;
    max-width: none;
    padding-left: 71px;
    padding-right: 71px;
  }
  .needs__itemInfo {
    max-width: none;
  }
}
.slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}
.slider__item {
  width: 280px;
}
.slider__item img {
  height: 100%;
}

.slick-slide.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.preimRabBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  position: relative;
}
.preimRabBlock h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  max-width: 360px;
  width: 100%;
}
.preimRabBlock h2 span {
  font-weight: 700;
}
.preimRabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 649px;
  width: 100%;
}
.preimRabListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preimRabListItemImg {
  width: 60px;
}
.preimRabListItem p {
  max-width: 197px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.preimRabListItemImg-last {
  width: 90px;
}
.preimRabBg {
  position: absolute;
  bottom: -90px;
  left: -18%;
}

@media screen and (max-width: 1100px) {
  .preimRabBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .preimRabBlock h2 {
    font-size: 20px;
  }
  .preimRabList {
    gap: 20px;
  }
  .preimRabListItem {
    gap: 15px;
  }
  .preimRabBg {
    display: none;
  }
}