* {
  color: #171717;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  scroll-margin: 30px;
  font-size: 16px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #FFFFFF;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

button {
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin-bottom: 100px;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}
.header__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
.header__upLogo {
  width: 146px;
  height: 70px;
}
.header__upInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__upInfo p {
  font-weight: 400;
  font-size: 13px;
}
.header__upInfo a {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
}
.header__upLocat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__upLocat img {
  width: 40px;
  height: 40px;
}
.header__upLocat p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.header__upRightLogo img {
  width: 127px;
  height: 67px;
}
.header__menu {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20.6px);
          backdrop-filter: blur(20.6px);
  background: rgba(255, 255, 255, 0.2);
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  padding: 12px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu ul li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
}
.header__burg {
  display: none;
}

@media screen and (max-width: 1100px) {
  header .container {
    position: relative;
  }
  .header__menu {
    position: absolute;
    top: -600%;
    width: 100%;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu-active {
    top: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 0;
  }
  .header__up {
    position: relative;
  }
  .header__upInfo:nth-child(4) {
    display: none;
  }
  .header__upInfo:nth-child(3) {
    display: none;
  }
  .header__upLocat {
    display: none;
  }
  .header__upRightLogo {
    display: none;
  }
  .header__up-active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burg {
    display: block;
    position: absolute;
    right: -10px;
  }
}
@media screen and (max-width: 650px) {
  .header__up {
    gap: 35px;
  }
  .header__upLogo {
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__upInfo:nth-child(1) {
    font-size: 11px;
  }
  .header__upInfo:nth-child(2) {
    font-size: 14px;
  }
}
footer {
  background-color: #171717;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer__block p {
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 12px;
  padding: 20px 0px;
}
.footer__block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 12px;
  padding: 20px 0px;
}

@media screen and (max-width: 1100px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 35px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__block a {
    padding: 0;
  }
  .footer__block p {
    padding: 0;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    padding: 0px 23px;
  }
  section {
    margin-bottom: 50px;
  }
  * {
    scroll-margin: 30px;
  }
}
body {
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.news {
  padding-top: 200px;
}
.news h2 {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 37px;
}
.news__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.news__item {
  max-width: 540px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  margin-bottom: 30px;
}
.news__itemBg {
  border-radius: 15px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 23, 0)), to(rgb(23, 23, 23)));
  background: linear-gradient(180deg, rgba(23, 23, 23, 0), rgb(23, 23, 23) 100%);
}
.news__itemImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 385px;
  border-radius: 15px;
}
.news__itemInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__itemInfoDate {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.news__itemInfoDescript {
  font-size: 16px;
  max-width: 300px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
}
.news__itemInfo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  font-size: 14px;
  color: #F99A1C;
  font-weight: 500;
  line-height: 17px;
}
.news__itemInfo a img {
  width: 17px;
  height: 17px;
}

@media screen and (max-width: 1100px) {
  .news h2 {
    text-align: center;
  }
  .news__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .news {
    padding-top: 120px;
  }
  .news h2 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 24px;
  }
  .news__item {
    gap: 15px;
    margin-bottom: 0;
  }
  .news__itemImg {
    height: 235px;
  }
}