.zayavka__bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.zayavka__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.zayavka__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}