
.up__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.up__backArrow {
  width: 18px;
  height: 10px;
  margin-right: 27px;
}
.up__back p {
  font-weight: 500;
}
.up__diagonal {
  margin-top: 8px;
  width: 27px;
  height: 1px;
  background: #272727;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

.obratka {
  display: none;
}

.about__infoTitle {
  text-transform: uppercase;
}
.about__infoDate {
  margin-top: -30px;
  margin-bottom: -15px;
  color: #7A7A7B;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  max-width: 751px;
  width: 100%;
  padding-top: 37px;
}
.about__infoTitle {
  font-size: 35px;
  font-weight: 700;
}
.about__infoDescript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.about__infoDescript p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.about__infoDescript p span:nth-child(1) {
  display: none;
}
.about__infoLink {
  background-color: #FFCC99;
  color: #FFFFFF;
  font-weight: 600;
  max-width: 230px;
  width: 100%;
  padding: 26px 0px;
  text-align: center;
  margin-top: 15px;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__right {
  max-width: 465px;
  width: 100%;
  height: 497px;
  background-color: #F5F5F5;
  position: relative;
  border-radius: 10px;
  margin-bottom: -50px;
}
.about__right::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 55px solid #FFF;
  border-left: 45px solid transparent;
}
.about__rightMobile {
  display: none;
}
.about__rightImg {
  position: absolute;
  width: 465px;
  height: 100%;
  bottom: 30px;
  right: 23px;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__rightImgBg {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34.68%, rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.68%, #000 100%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 23px;
  padding-left: 25px;
  border-radius: 10px;
}
.about__rightImgBg::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 55px solid #FFF;
  border-left: 45px solid transparent;
  border-bottom: 55px solid #F5F5F5;
}
.about__rightTitle {
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
}
.about__rightDescript {
  font-weight: 500;
  color: #FFFFFF;
}

@media screen and (max-width: 1300px) {
  .about__rightPC {
    display: none;
  }
  .about__rightMobile {
    display: block;
    margin-left: 23px;
  }
  .about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__infoTitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .about__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__imgMob {
    margin-top: 15px;
  }
}
@media screen and (max-width: 650px) {
  .about__info {
    gap: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .about__infoTitle {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .about__infoDescript {
    text-align: justify;
    font-size: 15px;
    line-height: normal;
  }
  .about__infoDescript p span:nth-child(1) {
    display: inline;
  }
  .about__infoDescript p span:nth-child(2) {
    display: none;
  }
  .about__infoLink {
    max-width: none;
    font-size: 14px;
    font-weight: 500;
  }
  .about__right {
    max-width: none;
    margin-bottom: 25px;
  }
  .about__rightImg {
    width: 100%;
    right: 15px;
  }
  .about__rightTitle {
    font-size: 40px;
    font-weight: 800;
  }
  .about__rightDescript {
    font-size: 14px;
  }
  .about__rightMobile {
    margin-left: 16px;
  }
}
.about__right {
  max-width: 632px;
  width: 100%;
  height: 497px;
  background-color: #FFF;
  padding-top: 50px;
}
.about__right::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 63px solid #FFF;
  border-left: 50px solid transparent;
  bottom: -52px;
}
.about__right iframe {
  max-width: 632px;
  width: 100%;
  height: 497px;
}

.contacts__card {
  -webkit-filter: none;
          filter: none;
  max-width: none;
}
.contacts__cardInfo {
  padding: 0;
}
.contacts__cardInfoTitle p {
  color: #969696;
  font-size: 15px;
  font-weight: 500;
}
.contacts__cardAddressDescript {
  max-width: none;
  width: 100%;
}
.contacts__cardAboutTel a {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}
.contacts__cardAboutMail a {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

section {
  margin-bottom: 200px;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 0px 20px;
  }
  .main .slick-dots {
    left: 50%;
  }
  .up__back {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .about__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts__cardAddressDescript {
    max-width: 300px;
  }
}
@media screen and (max-width: 650px) {
  section {
    margin-bottom: 50px;
  }
  .about__block {
    display: block;
  }
  .about__right {
    background-color: #fff;
    margin-bottom: 20px;
  }
  .about__right::before {
    bottom: -1px;
  }
  .about__rightImg {
    bottom: 0;
  }
  .about__infoTitle {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .about__infoDate {
    margin-bottom: 15px;
  }
  .about__right {
    height: 312px;
  }
  .about__right iframe {
    height: 262px;
  }
  .main__info {
    width: 100%;
    padding-bottom: 100px;
  }
  .main__title {
    font-size: 25px;
    font-weight: 900;
  }
  .main__link {
    max-width: none;
  }
  .main .slick-dots {
    left: 50%;
  }
  .up__back {
    display: none;
  }
  .contacts__cardWorktime {
    display: block;
  }
  .footer__bg::before {
    border-top: 90px solid #FFF;
    border-left: 65px solid transparent;
  }
}