
.up__back {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.up__backArrow {
  width: 18px;
  height: 10px;
  margin-right: 27px;
}
.up__back p {
  font-weight: 500;
}
.up__diagonal {
  margin-top: 8px;
  width: 27px;
  height: 1px;
  background: #272727;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

.obratka {
  display: none;
}

.news__title {
  font-size: 35px;
  font-weight: 700;
}
.news__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-top: 30px;
}
.news__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 416px;
  height: 488px;
  width: 100%;
  border-radius: 15px;
  position: relative;
}
.news__item::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 63px solid #FFF;
  border-left: 35px solid transparent;
}
.news__itemBg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.23%, rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.23%, #000 100%);
  border-radius: 15px;
  height: 100%;
}
.news__itemInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3px;
  height: 100%;
  padding-bottom: 37px;
  padding-left: 23px;
}
.news__itemDate {
  font-weight: 600;
  color: #FFFFFF;
  line-height: 20px;
}
.news__itemTitle {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFFF;
}
.news__itemDescript {
  font-weight: 600;
  color: #FFFFFF;
  line-height: 20px;
}
.news__itemLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
}
.news__itemLink img {
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 1300px) {
  .news__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__title {
    margin-left: 24px;
  }
}
@media screen and (max-width: 900px) {
  .news .slick-arrow {
    position: absolute;
    z-index: 1;
    font-size: 0px;
    width: 40px;
    height: 40px;
    background: #363636;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 3px;
    bottom: -90px;
  }
  .news .slick-prev {
    right: 50px;
    background-image: url("../img/leftarrow.svg");
  }
  .news .slick-next {
    right: 0px;
    background-image: url("../img/rightarrow.svg");
  }
  .news__item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    max-width: none;
    height: 560px;
  }
  .news__itemBg {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .news {
    margin-bottom: 100px;
  }
  .news__block {
    margin-top: 20px;
  }
  .news__item {
    height: 395px;
  }
  .news__itemDate {
    font-size: 13px;
    font-weight: 500;
  }
  .news__itemTitle {
    font-size: 17px;
    font-weight: 900;
    max-width: 210px;
  }
  .news__itemDescript {
    font-size: 14px;
    font-weight: 500;
  }
  .news__itemLink {
    line-height: 16px;
    font-size: 13px;
    gap: 8px;
  }
  .news__itemLink img {
    width: 8px;
    height: 8px;
  }
  .news__title {
    font-size: 23px;
    margin-left: 0;
  }
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: 530px;
}
.news__itemImg {
  border-radius: 5px;
}
.news__itemImg img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.news__itemInfo {
  border-radius: 5px;
  padding: 15px 0px 21px 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #F8F8F8;
}
.news__itemInfoTitle {
  margin-bottom: 3px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.news__itemInfoDescript {
  margin-bottom: 11px;
  color: #959595;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.news__itemInfoPrice {
  color: #000;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 15px;
}
.news__itemInfoButton {
  background-color: #000;
  color: #FFF;
  max-width: 214px;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.news .container {
  padding-top: 37px;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 0px 20px;
  }
  .main .slick-dots {
    left: 50%;
  }
}
@media screen and (max-width: 650px) {
  .main__info {
    width: 100%;
    padding-bottom: 100px;
  }
  .main__title {
    font-size: 25px;
    font-weight: 900;
  }
  .main__link {
    max-width: none;
  }
  .main .slick-dots {
    left: 50%;
  }
  .up__back {
    display: none;
  }
  .news .container {
    padding-top: 20px;
  }
}