.captain
    .container
        padding-left: 67px
        padding-right: 25px
    &__wrapper
        display: flex
        justify-content: space-between
    &__info
        display: flex
        flex-direction: column
        gap: 78px
        h2
            font-size: 88px
            font-weight: 900
            max-width: 353px
            width: 100%
            color: $lime
            text-transform: uppercase
            line-height: 102px
        &Descript
            display: flex
            flex-direction: column
            gap: 25px
            h3
                font-size: 24px
                font-weight: 800
                text-transform: uppercase
                color: $white
            p
                font-size: 24px
                color: $white
                font-weight: 400
                line-height: 30px
                max-width: 480px
                width: 100%
    &__img
        border-radius: 50px
        max-width: 753px
        width: 100%
        img
            border-radius: 50px