.news
    &__title
        font-size: 35px
        font-weight: 700
    &__block
        display: flex
        flex-wrap: wrap
        gap: 24px
        margin-top: 30px

    &__item
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        max-width: 416px
        height: 488px
        width: 100%
        border-radius: 15px
        position: relative
        &::before
            @include small-triangle
        &Bg
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 31.23%, #000 100%)
            border-radius: 15px
            height: 100%
        &Info
            display: flex
            flex-direction: column
            justify-content: flex-end
            gap: 3px
            height: 100%
            padding-bottom: 37px
            padding-left: 23px
        &Date
            font-weight: 600
            color: $white
            line-height: 20px
        &Title
            font-size: 20px
            font-weight: 900
            text-transform: uppercase
            color: $white
        &Descript
            font-weight: 600
            color: $white
            line-height: 20px
        &Link
            display: flex
            gap: 10px
            color: $white
            font-weight: 500
            line-height: 20px
            align-items: center
            margin-top: 13px
            img
                width: 10px
                height: 10px

@media screen and (max-width: 1300px)
    .news
        &__block
            justify-content: center
        &__title
            margin-left: 24px
@media screen and (max-width: 900px)
    .news
        .slick-arrow
            position: absolute
            z-index: 1
            font-size: 0px
            width: 40px
            height: 40px
            background: #363636
            transform: translateY(-50%)
            background-position: center center
            background-size: auto
            background-repeat: no-repeat
            border-radius: 3px
            bottom: -90px
        .slick-prev
            right: 50px
            background-image: url("../img/leftarrow.svg")
        .slick-next
            right: 0px
            background-image: url("../img/rightarrow.svg")
        &__item
            display: flex !important
            max-width: none
            height: 560px
            &Bg
                width: 100%
@media screen and (max-width: 650px)
    .news
        margin-bottom: 100px
        &__block
            margin-top: 20px
        &__item
            height: 395px
            &Date
                font-size: 13px
                font-weight: 500
            &Title
                font-size: 17px
                font-weight: 900
                max-width: 210px
            &Descript
                font-size: 14px
                font-weight: 500
            &Link
                line-height: 16px
                font-size: 13px
                gap: 8px
                img
                    width: 8px
                    height: 8px
        &__title
            font-size: 23px
            margin-left: 0
    