.zakaz
    &__bg
        background-color: $yellow
    &__title
        font-size: 35px
        font-weight: 700
    &__block
        display: flex
        justify-content: space-between
        align-items: center
        padding: 69px 0px 38px 25px
        
@media screen and (max-width: 900px)
    .zakaz
        &__block
            flex-wrap: wrap

@media screen and (max-width: 650px)
    .zakaz
        &__title
            font-size: 23px
            font-weight: 700
            padding-top: 25px
        &__block
            padding: 29px 0px 30px 0px
            justify-content: space-between
            align-items: center
            &Item
                padding-bottom: 10px
                img
                    max-width: 154px !important
                    width: 100% !important
                